
html {
 height: 100%;
}

div.head_h1 { 
 width: 60%;
 color: #f2b632;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 1em;
 line-height: 24px;
 margin: auto;
 padding: 20px 30px; 
 text-align: center;
 text-transform: uppercase;
 border-bottom: 3px solid;
 border-color: #f2b632;
}


div.range_slider {
 //padding: 10px 200px 10px 200px;
 width: 50%;
 margin: 0 auto;
}

div.leng_value {
 width: 2%;
 margin: 0 auto;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 17px;
 font-weight: 700;
 color: #f2b632;
}

.sub_button {
    background-color: #f2b632 ;
    border: none;
    color: #252839;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
}

div.button_gen {
 text-align: center;
 margin: auto;
 display: block;
}

.box {
  width: 70%;
  max-width: 450px;
  background: #b5b5b7;
  color: #252839;
  padding: 10px 10px 10px 25px;
  margin: 1em auto;
}
p {
  margin: 1.5em 0;
  padding: 2;
}
input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
 font-size: 1em !important;
 font-family: 'Open Sans Condensed', sans-serif !important; 
 //font: normal 12px courier !important;
}
input[type="checkbox"] + label:before {
  border: 2px solid #f2b632;
  content: "\00a0";
  display: inline-block;
 // font: 16px;
  height: 20px;
  margin: -.20em .70em 0 0;
  padding: 0;
  vertical-align: top;
  width: 20px;
 //font-family: 'Open Sans Condensed', sans-serif;
}
input[type="checkbox"]:checked + label:before {
  //background: #3d404e;
  background: #252839;
  // color: #666;
  color: #f2b632;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: 700;
}


.out_pass {
// width: 50%;
 padding: 7px 20px 7px 20px !important; 
// border-style: solid;
// border-color: #f2b632;
// max-width: 50%;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
// font-family: 'Open Sans Condensed', sans-serif !important;
// word-wrap: break-word;
// color: #252839;
// background: #b5b5b7;
}


#out_pw {
 width: 50%;
 background: #b5b5b7;
 border-style: solid;
 border-color: #f2b632;
 max-width:50%;
 padding: 21px 20px 5px 20px !important;
 font-family: 'Open Sans Condensed', sans-serif !important;
 font-size: 1em !important;
 color: #252839;
 overflow: hidden;
// height: auto;
 word-wrap: break-word;
 margin-left: auto;
 margin-right; auto;
 text-align: center;
 //word-wrap: break-word;
}

#out_text {
 width: 50%;
 max-width: 50%;
 margin-left: auto;
 margin-right; auto;
 text-align: center;
 word-wrap: break-word;
}

body {
 position: relative;
 margin: 0;
 padding: 0;
 min-height: 100%;
}

.footer {
 font-family: 'Open Sans Condensed', sans-serif !important;
 //color: #252839;
 position: absolute;
 right: 0;
 bottom: 0;
 left; 0;
 width: 100%;
 padding: 0.6rem;
//padding: 10px 0px 10px 0px;
 background-color: #f2b632;
 text-align: center;
}

.link_createdby {
 color: #252839;
 text-decoration: none;
}

.twitter-follow-button {
 margin: 0px 0px -4px 0px;
}

/**
ul {
 width: 100%;
 bottom: 0;
 position: relative;
 text-align: center;
 list-style-type: none;
 margin:  0;
 padding: 0;
 overflow: hidden;
 background-color: #f2b632;
}

li {
 float: left;
}

li a {
 font-family: 'Open Sans Condensed', sans-serif !important;
 display: block;
 color: #252839;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

li a:hover {
    background-color: #b5b5b7;
}
*/
